# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/salientia

#The actual build directory
/build/

#The CMake cache file (which breaks compiling anywhere else and can also include personal information, like paths)
/CMakeCache.txt

#In fact, pretty much anything except CMakeLists.txt
/CMakeFiles/
/cmake_install.cmake

#My kdevelop4 IDE project file
*.kdev4
